# Install to /etc/systemd/user/ 
# Or /etc/systemd/system

[Unit]
Description=Example Service
#Before=mysqld.service
#After=network.target
StartLimitIntervalSec=0 # Attempt to restart service forever

[Service]
Type=forking
User=pi
PIDFile=/run/user/1000/example.pid # Apparently DBUS is better, but screw that
RestartSec=30 # Attempt to restart stopped service every X seconds
Restart=always
ExecStart=/my/exec
ExecStop=/my/exec

[Install]
#WantedBy=
#Alias=
