[Unit]
Description=Raspbot

# Attempt to restart service forever
StartLimitIntervalSec=0

[Service]
Type=forking
User=pi

# See daemon.py
PIDFile=/run/user/1000/raspbot/pid

# Attempt to restart stopped service every X seconds
RestartSec=30
Restart=always
ExecStart=/home/pi/projects/discord/raspbot/raspbot.py start
ExecStop=/home/pi/projects/discord/raspbot/raspbot.py stop

[Install]
WantedBy=multi-user.target
#Alias=
