[Unit]
Description=raspbot
StartLimitIntervalSec=0

[Service]
User=pi
Type=forking
PIDFile=/run/user/1000/raspbot/pid
RestartSec=60
Restart=always
ExecStart=/home/pi/projects/discord/raspbot/raspbot.py start
ExecStop=/home/pi/projects/discord/raspbot/raspbot.py stop
ExecReload=/home/pi/projects/discord/raspbot/raspbot.py restart

[Install]
WantedBy=multi-user.target
